#slpFreeTrialBanner.slpFreeTrialBanner.slp-bg-white.slp-shadow-soft.slp-z-50.sm:slp-block.md:slp-flex.slp-justify-between.slp-flex-wrap.slp-p-16.slp-rounded-b-md.slp-fixed.slp-my-0.slp-mx-auto
  %div
    %button#dismiss-banner.dismiss-banner.slp-inline-block.md:slp-hidden.slp-absolute.slp-right-4.slp-pb-16.slp-pl-16.slp-pr-8.slp-outline-none.slp-border-none
      = image_tag "/images/icons/x-black.svg", class: "slp-align-top", alt: "Gitlab x icon svg"
    %p.md:slp-text-lg.slp-text-md.slp-text-black.slp-mb-8.slp-mr-16.slp-pr-16
      Try the GitLab DevOps Platform for free for 30 days
    %p.md:slp-text-md.slp-hidden.md:slp-inline-block.slp-text-black.slp-mb-0
      Achieve higher productivity, faster and secure deployments
  %div
    = link_to "Start your free trial", "/free-trial/", class: "slp-mt-0 slp-btn slp-min-w-full sm:slp-min-w-min"
    %a#dismiss-maybe-later.dismiss-banner.slp-hidden.md:slp-inline-block.slp-text-black.slp-text-base.slp-p-24
      Maybe later
:javascript
  (function() {
    document.getElementById("dismiss-banner").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('slpFreeTrialBanner').setAttribute('style', 'display:none !important');
    }
    document.getElementById("dismiss-maybe-later").addEventListener("click", dismissMaybeLater)
    function dismissMaybeLater() {
      document.getElementById('slpFreeTrialBanner').setAttribute('style', 'display:none !important');
    }
  })();
